.div1 {
  width: 100px;
  height: 100px;
  padding: 50px;
  border: 1px solid red;
}

body {
  background-color: black;
}

h1 {
  background-color: black;
  color: white;
  font-size:75px;

}

/* got this from w3 schoools...searched up how to make button on image */
/* Container needed to position the button. Adjust the width as needed */

.BigContainer{
  display: flex;

  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;

}

.container {
  position: relative;
  width: 25%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}

.flex{
  display: flex;
}
