.portrait {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/*
.face {
  width: 300px;
  height: 300px;
  background: #f0f0f0;
  position: absolute;
  border-radius: 65% 30% 65% 28%;
  transform: rotate(-45deg);
  top: -135px;
  left: -147px;
}
*/

.face {
  width: 200px;
  height: 230px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -150px;
  left: -100px;
  box-shadow: 1px 1px 3px #888787;
}



.leftbang{
    width: 100px;
    height: 100px;
    background: black;
    border-radius: 0 0 100px 0;

    position: absolute;
    -moz-border-radius: 0 0 100px 0;
    -webkit-border-radius: 0 0 100px 0;
    top: -130px;
    left: -95px;
}
.rightbang{
     width: 100px;
     height: 100px;
     background: black;
     border-radius: 0 0 0 100px;
     position: absolute;
     -moz-border-radius: 0 0 0 100px;
     -webkit-border-radius: 0 0 0 100px;
     top: -130px;
     right: -95px;
}

.semicircle {
  width: 300px;
  height: 150px; /* half of width*/
  background: black;
  border-radius:0px 0px 150px 150px;
  background-color: red;
}
