.leftbang{
    width: 100px;
    height: 100px;
    background: black;
    border-radius: 0 0 100px 0;
    position: absolute;
    -moz-border-radius: 0 0 100px 0;
    -webkit-border-radius: 0 0 100px 0;
}
.rightbang{
     width: 100px;
     height: 100px;
     background: black;
     border-radius: 0 0 0 100px;
     position: absolute;
     -moz-border-radius: 0 0 0 100px;
     -webkit-border-radius: 0 0 0 100px;
}
